body {
 padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.file {
  visibility: hidden;
  position: absolute;
}
.imageupload{
   margin-top:14px;
   margin-bottom:14px;
   margin-left:auto;
   margin-right:auto;
   text-align:center;
}
img{
   height:450px;
}
#photo{
   width: 100%;
   height:450px;
}